/* MAIN */
#intro{
    background-color: #00bbf9;
}

#banner{
    background-image: url("../../images/banner.jpg");
}

#autorImagem{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin: 20px auto;
    background-image: url("../../images/autorIcon.png");
    border: #fee440 solid 5px;
}

/* POSTS */
#blogPosts{
    display: block;
}
.post{
    width: 90%;
    height: 300px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.post p{
    color: #5a6270;
}

#post1{
    background-image: url("../../images/posts/celular.jpg");
}

#post2{
    background-image: url("../../images/posts/kitteclado.jpg");
}

#post3{
    background-image: url("../../images/posts/olhandopc.jpg");
}

#categorias{
    display: block;
}

#categoriasTopicos{
    display: flex;
    gap: 20px;
}

.postCategoria{
    width: 30%;
    height: 500px;
    margin: 20px 0px 5px 0px;
    overflow: hidden;
    cursor: pointer;
}

.backCategoria{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.534);
    color: #fef9ef;
}

#categoriaMobile{
    background-image: url("../../images/posts/celular.jpg");
}

#categoriaDesktop{
    background-image: url("../../images/posts/kitteclado.jpg");
}

#categoriaFlowWork{
    background-image: url("../../images/posts/olhandopc.jpg");
}

.categoriaDescricaoDrop{
    width: 80%;
    height: auto;
    border: #00bbf9 2px solid;
    display: none;
    padding: 20px;
    margin: 0 auto;
}