#colors{
    background-color:#ff99c8;
    background-color:#fcf6bd;
    background-color:#d0f4de;
    background-color:#a9def9;
    background-color:#e4c1f9;
    background-color:#fef9ef;
    background-color:#17c3b2;
    background-color:#9b5de5;
    background-color:#f15bb5;
    background-color:#fee440;
    background-color:#00bbf9;
    background-color:#00f5d4;
    background-color:#5a6270;
}

#intro{
    height: 300px;
    background-color:#f15bb5;
}

#banner{
    background-image: url("../../images/vector/bannerMulher.svg");
}

/* ULTIMAS ATUALIZAÇÕES */

#atualizacoes{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #00f5d4 2px solid;
    flex-wrap: wrap;
}

.catalogo{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.post{
    width: 400px;
    text-align: center;
    height: auto;
    padding: 20px;
    background-color: #fffafa;
    box-shadow: #5a6270 3px 3px 3px 3px;
}

.post p{
    margin: 20px 0px;
}

#atualizacoes .image{
    width: 80%;
    height: 200px;
    margin: 0px auto;
}

/* POSTS IMAGES */

#post1{
    background-image: url("../../images/posts/memes.jpg");
}

#post2{
    background-image: url("../../images/posts/celular.jpg");
}

#post3{
    background-image: url("../../images/posts/kitteclado.jpg");
}

#post4{
    background-image: url("../../images/posts/olhandopc.jpg");
}

#post5{
    background-image: url("../../images/posts/trabalhoEmEquipe.jpg");
}

#post6{
    background-image: url("../../images/posts/spencer.jpg");
}

#post7{
    background-image: url("../../images/posts/jogos.jpg");
}

#post8{
    background-image: url("../../images/posts/rotina.jpg");
}

